.button{
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(
    to right,
    #df9525 0%,
    #79e911 51%,
    #e20c54 100%
    );
  color: rgb(46, 21, 7);
  padding: 12px;
}
button:hover{
  transition: 200ms;
 scale:1.5;
 background-image: linear-gradient(
    to right,
    #ecdc02 0%,
     #b3f37f 51%,
     #f16f32 100%
    );

}
nav{
  color: rgb(226, 226, 236);
  background-attachment: fixed;
  background-color: rgb(181, 5, 197);
}
.avatar{
  border-radius: 50%;
}
#main{
  padding: 25px 50px;
  margin-left: auto;
  margin-right: auto;
  display:none;
}
.profile {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  background-image: linear-gradient(
    to right,
    #c43bd6 0%,
     #eea111 51%,
     #eb327f 100%
    );
  max-width: 300px;
  margin: 12px auto;
  text-align: center;
  font-family: arial;
  padding: 25px;
  border-radius: 9px;
}
.profile:hover{
  transition:400ms;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-image: linear-gradient(
    to right,
    #ee1141 0%,
     #dae632 51%,
     #ee1192 100%
    );
}
.email {
  color: rgb(124, 226, 230);
  font-size: 18px;
  overflow-wrap: anywhere;
}

.email:hover {
  color: aliceblue;
}

.name{
  font-size:20px;
  font-weight: bold;
  color: aliceblue;

}
.loader{
  margin-left: auto;
  margin-right: auto;
}